!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Ts'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Ts'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      -if user_signed_in?
        %br
        .row
          .col-lg-3
            .panel.panel-default
              .panel-heading
                %h4 Certifications
              .panel-body
                %ul.nav.nav-pills.nav-stacked
                  -Certification.all.each do |cert|
                    %hr
                    %li{role: "presentation"}
                      =link_to cert.short_name, cert
                      .row
                        .col-lg-6
                          Move Progress:
                        .col-lg-6
                          .progress
                            .progress-bar.progress-bar-success{role: "progressbar", "aria-valuenow"=> "60", "aria-valuemin"=> "0", "aria-valuemax"=> "100", style: "width: 60%;"}
                              60%
                      .row
                        .col-lg-6
                          Time Progress:
                        .col-lg-6
                          .progress
                            .progress-bar.progress-bar-success{role: "progressbar", "aria-valuenow"=> "40", "aria-valuemin"=> "0", "aria-valuemax"=> "100", style: "width: 40%;"}
                              40%

                    %hr
          .col-lg-6
            .panel.panel-default
              .panel-body
                .row
                  - MoveType.all.each do |move_type|
                    .col-lg-1
                      = link_to image_tag( move_type.icon_path, :width => 40, :height => 40), new_move_path(move_type_id: move_type.id),  "data-toggle"=>"tooltip", :title=>move_type.title

            .panel.panel-default
              .panel-body
                .row
                  %ul.nav.nav-pills
                    %li.active{role: "presentation"}
                      =link_to "My Day", "#"
                    %li{role: "presentation"}
                      =link_to "Sprint", "#"
                    %li{role: "presentation"}
                      =link_to "Backlog", "#"
                    %li{role: "presentation"}
                      =link_to "Kalender", "#"
            .panel.panel-default
              .panel-body
                = yield


          .col-lg-3
            .panel.panel-default
              .panel-heading
                %h4 My Team
              .panel-body
                %ul.nav.nav-pills.nav-stacked
                  -User.all.each do |user|
                    -if @user.present? && user == @user
                      %li.active{role: "presentation"}
                        =link_to user.name, user_path(user)
                    -else
                      %li{role: "presentation"}
                        =link_to user.name, user_path(user)


      -else
        = yield